{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ashion Template">
    <meta name="keywords" content="Ashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
    rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <title>Image Display</title>
    <link rel="stylesheet" href="{% static 'css/trail_styles.css' %}">
</head>
<body>
    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__close">+</div>
        <ul class="offcanvas__widget">
            <li><span class="icon_search search-switch"></span></li>
            <li><a href="#"><span class="icon_heart_alt"></span>
                <div class="tip">2</div>
            </a></li>
            <li><a href="#"><span class="icon_bag_alt"></span>
                <div class="tip">2</div>
            </a></li>
        </ul>
        <div class="offcanvas__logo">
            <a href="#"><img src="{% static 'img/Logo.png' %}" alt="" style="max-width: 100px; max-height:100px;"></a>
        </div>
        <div id="mobile-menu-wrap"></div>
        <div class="offcanvas__auth">
            <a href="{% url 'profile' %}"> Profile </a>
        </div>
    </div>
    <!-- Offcanvas Menu End -->
    <header class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-3 col-lg-2">
                    <div class="header__logo">
                        <a href="#"><img src="{% static 'img/Logo.png' %}" alt="" style="max-width: 100px; max-height: 100px;" ></a>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-7">
                    <!-- nav -->
                    {% include 'navigation.html' with home="active" %}
                </div>
                <div class="col-lg-3">
                    <div class="header__right">
                        <div class="header__right__auth">
                            <a href="{% url 'profile' %}"> Profile </a>
                        </div>
                        <ul class="header__right__widget">
                            <!-- <li><span class="icon_search search-switch"></span></li> -->
                            <li><a href="#"><span class="icon_heart_alt"></span>
                                <div class="tip">2</div>
                            </a></li>
                            <li><a href="#"><span class="icon_bag_alt"></span>
                                <div class="tip">2</div>
                            </a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="canvas__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->

        <div class="card">
            <div class="container">
                <h2>Virtual Try-on</h2>
                <form method='post' enctype="multipart/form-data" id="try-on-form"> {% csrf_token %}
                    <div class="image-container">
                        <label for="image1" class="image-card" style="width:250px; height:300px;">
                            <p id='label1'> Upload User Image </p>
                            <input type="file" id="image1" name="image1" accept="image/*" onchange="previewImage(event, 'preview1', 'label1')">
                            <span class="plus-symbol">+</span>
                            <img id="preview1" src="" alt="Preview Image 1">
                        </label>
                        <label for="image2" class="image-card" style="width:250px; height:300px;">
                            <p id='label2'> Upload Cloth or Dress Image </p>
                            <input type="file" id="image2" name="image2" accept="image/*" onchange="previewImage(event, 'preview2', 'label2')">
                            <span class="plus-symbol">+</span>
                            <img id="preview2" src="" alt="Preview Image 2">
                        </label>
                    </div>
                    <button>Generate</button>
                </form>
                <div class="image-container">
                    <img id="res" src="" alt="Result Image"> 
                    <!--<img id="res" style="width:250px; height:300px;" src="{% static 'img/output/image4.png' %}" alt="Result Image">-->
                </div>
            </div>
        </div>

    <!-- Hidden trigger element -->
    <div id="imageUploadTrigger" style="display: none;"></div>

    
    <script>
        function previewImage(event, previewId, labelId) {
            document.getElementById(previewId).style.display = 'block';
            document.getElementById(labelId).style.display = 'none';
            const input = event.target;
            const preview = document.getElementById(previewId);
            const file = input.files[0];
            const reader = new FileReader();
    
            reader.onload = function() {
                const img = new Image();
                img.onload = function() {
                    const canvas = document.createElement('canvas');
                    const ctx = canvas.getContext('2d');
                    canvas.width = 768; // target width
                    canvas.height = 1024; // target height
                    ctx.drawImage(img, 0, 0, canvas.width, canvas.height);
                    preview.src = canvas.toDataURL('image/jpeg');
                };
                img.src = reader.result;
            };

            console.log(file)
    
            if (file) {
                reader.readAsDataURL(file);
            }
        }
    
        
    </script>

    <!-- Js Plugins -->
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/mixitup.min.js' %}"></script>
    <script src="{% static 'js/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/jquery.nicescroll.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>
